<%include header.ejs%>

<div class="m_edit">
    <p></p>
    作者：<span></span> 日期：<span></span>
    <div>
        <textarea name="post" id="" cols="30" rows="10"></textarea>
    </div>
</div>

<%include footer.ejs%>