<%- include header.ejs%>

<div class="m_post">
    <form method="post">
        <div class="title">
            标题：<input type="text" name="title"/>
        </div>
        <div class="artical">
            内容：<br/>
            <textarea name="post" id="" cols="50" rows="40"></textarea>
        </div>
        <input type="hidden" name="image" id="j_img" value=""/>
        <input type="file" accept="image/*;capture=camera" class="input">
        <div class="imgzip"></div>
        <div class="btn">
            <input type="submit" value="发表"/>
        </div>
    </form>

</div>

<%-include footer.ejs%>
<script src="/javascripts/uploadimages.js"></script>